body {
    font-family: Arial, sans-serif;
    background:#f9fafc;
    margin: 0;
    padding: 0;
}

header {
   height: 25vh;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #f58b2e;
   margin-top: 5vh;
}

header img{
    display: block;
    height: 15vh;
}

.container {
    width: 90%;
    max-width: 1200px; 
    margin: auto;
    text-align: center;
    padding-top: 5vh;
}

.title {
    font-size: 34px;
    color: #ff4d00;
    margin-bottom: 5px;
}

.subtitle {
    font-size: 16px;
    margin-bottom: 20px;
    color: #555;
}

.search-form {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.search-box {
    width: 60%;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 5px 0 0 5px;
    outline: none;
}

.search-btn {
    padding: 12px 20px;
    background: #EA9828;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 0 5px 5px 0;
}

.search-btn:hover {
    background: #EA9828;
}

.error {
    color: 	#ff0000;
    background: #f9fafc;
    padding: 10px;
    font-size:15px;
    margin-bottom: 20px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 10px;
}

.card {
    background: white;
    width: 260px;
    padding: 15px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
    text-align: center;
}

.char-img {
    width: 100%;
    height: 260px;
    object-fit: cover;
}

.char-name {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 8px;
    color: #EA9828;
}

p {
    margin: 5px 0;
    font-size: 14px;
}

.back-btn {
    display: inline-block;
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 8px 14px;
    background: #EA9828;
    color: white;
    text-decoration: none;
    font-size: 16px;
}


.cute-msg {
    font-size: 18px;
    color: #f58b2e;
    margin-top: 15px;
    margin-bottom: 8px;
}

.cute-img {
    width: 180px;
    border-radius: 12px;
    margin-top: 10px;
}


.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 25px;
    margin-top: 20px;
    width: 100%;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding-top: 5vh;
}

.card {
    background: white;
    width: 260px;
    padding: 15px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
    text-align: center;
    border-radius: 8px;
}