{% extends "base.html" %}
{% block content %}

<div class="container">

    <p class="subtitle">Search any character from Naruto</p>

    <form action="{{ url_for('search') }}" method="get" class="search-form">
        <input
            type="text"
            name="name"
            placeholder="Enter character name:"
            class="search-box"
            value="{{ request.args.get('name','') }}"
        >
        <button type="submit" class="search-btn">Search</button>
    </form>

     {% if error %}
        <div class="error">{{ error }}

        Here is a picture of a cutie instead:</div>

        <img src="{{ url_for('static', filename='cutie.jpg') }}" class="cute-img">
    {% endif %}

</div>

{% endblock %}
